
/* agregar paleta de colores aca 

color 1: 

/* agregar font family */
/* definir font size para titulos,subtitulos y parrafos */


*/


body{
    margin: 0;
    padding: 0;
    background: url(../assets/fondo.jpg);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
#header{
    min-height: 150px;
    background-color: #264f89;
    margin-bottom: 15px;
    
}
#navigation{
    min-height: 200px;
    width: 300px;
    
    background-color: #264f89;
    display: inline-block;
    vertical-align: top;
    

}
#main_content{
    min-height: 400px;
    width: 700px;
    background-color: blue;
    display: inline-block;
    padding: 15px;
    margin-left: 10px;

}

#advertisement{
    min-height: 120px;
    width: 660px;
    background-color: green;
    
}

.nav{
    display: flex;
    justify-content: space-around;
}

.navI{display: flex;}



.header{

    height: 100px;
    background-color: #264f89;
    margin-bottom: 15px;
}
footer {display: flex;
    justify-content: space-between;
    background-color: black;
    height: 100px;
    margin-top: 100px;
}