@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700;900&display=swap");
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

* {
  background-color: F5F5F5;
}

body {
  font-family: "Nunito", sans-serif;
}



.main-central {
  margin-top: 60px;
  justify-content: center;
  
}



/*
tarjetas CSS

*/
.text-resultados{
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-size: 40px;
}

#resultados-postulantes{
    margin-top: 50px;
}


:root {
    --font3: "Nunito", sans-serif;
}

.h1,
h1 {
    font-size: 1.5rem;
}

.container-fluid {
    max-width: 1400px;
}

.card {
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    border: 1;
    border-radius: 15px;
}

.img-hover-zoom--colorize img {
    border-radius: 50%;
    width: 150px;
    height: auto;
    margin-top: 20px;
    padding: 1px;
    transition: transform .5s;
    filter: grayscale(100%);
}

.img-hover-zoom--colorize:hover img {
    filter: grayscale(0);
    transform: scale(1.05);
}

.card h5 {
    overflow: hidden;
    height: 80px;
    font-weight: 300;
    font-size: 1rem;
}

.card h5 a {
    color: black;
    text-decoration: none;
}

.role {
    color: #7a7a7a;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fab {
    font-size: 1.5rem;
    color: rgb(62, 12, 12);
    transition: transform .5s;
}

.fab:hover {
    color: rgb(18, 0, 0);
    transform: scale(1.1);
}

.card h2 {
    font-size: 1rem;
}

.btn-perfiles{
    border-radius: 15px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    background-color: #f8d02f;
    color: #fff;
}

.tarjeta-postulante{
    max-height: 480px;
}


/* MEDIA */

@media only screen and (min-width: 1200px) {
    .img-hover-zoom--colorize img {
        width: 200px;
    }
}

@media only screen and (min-width: 1200px) {
    .h1,
    h1 {
        font-size: 2rem;
    }
}

/**
Botones cards 
*/

.btn {
    background: #EEECF7;
    border: 0;
    color: #5535F0;
    width: 98%;
    font-weight: bold;
    border-radius: 20px;
    height: 40px;
    transition: all 0.2s ease;
}
 

.btn:hover {
          background: #441CFF;
}

.btn:focus {
          background: #441CFF;
          outline: 0;  
}


.form-home{
    background-color: #fff;
}

.select-home{
    margin-bottom: 10px;
}

.cajaFiltro{
    margin-top: 85px;
    
}





.msg { padding: 10px; background: #222; position: relative; }
.msg h1 { color: #fff;  }
.msg a { margin-left: 20px; background: #408814; color: white; padding: 4px 8px; text-decoration: none; }
.msg a:hover { background: #266400; }

/* //-- yui-grids style overrides -- */
body { font-family: Georgia; color: #444; }
#inner { padding: 10px 80px; margin: 80px auto; background: #f5f5f5; border: solid #666; border-width: 8px 0 2px 0; }
.yui-gf { margin-bottom: 2em; padding-bottom: 2em; border-bottom: 1px solid #ccc; }

/* //-- header, body, footer -- */
#hd { margin: 2.5em 0 3em 0; padding-bottom: 1.5em; border-bottom: 1px solid #ccc }
#hd h2 { text-transform: uppercase; letter-spacing: 2px; }
#bd, #ft { margin-bottom: 2em; }

/* //-- footer -- */
#ft { padding: 1em 0 5em 0; font-size: 92%; border-top: 1px solid #ccc; text-align: center; }
#ft p { margin-bottom: 0; text-align: center;   }

/* //-- core typography and style -- */
#hd h1 { font-size: 48px; text-transform: uppercase; letter-spacing: 3px; }
h2 { font-size: 152% }
h3, h4 { font-size: 122%; }
h1, h2, h3, h4 { color: #333; }

a { color: #990003 }
a:hover { text-decoration: none; }
strong { font-weight: bold; }

p.enlarge { font-size: 144%; padding-right: 6.5em; line-height: 24px; }
p.enlarge span { color: #000 }
.contact-info { margin-top: 7px; }
.first h2 { font-style: italic; }
.last { border-bottom: 0 }


/* //-- section styles -- */

a#pdf { display: block; float: left; background: #666; color: white; padding: 6px 50px 6px 12px; margin-bottom: 6px; text-decoration: none;  }
a#pdf:hover { background: #222; }

.job { position: relative; margin-bottom: 1em; padding-bottom: 1em; border-bottom: 1px solid #ccc; }
.job h4 { position: absolute; top: 0.35em; right: 0 }
.job p { margin: 0.75em 0 3em 0; }

.last { border: none; }
.skills-list {  }
.skills-list ul { margin: 0; }
.skills-list li { margin: 3px 0; padding: 3px 0; }
.skills-list li span { font-size: 152%; display: block; margin-bottom: -2px; padding: 0 }
.talent { width: 32%; float: left }
.talent h2 { margin-bottom: 6px; }

#srt-ttab { margin-bottom: 100px; text-align: center;  }
#srt-ttab img.last { margin-top: 20px }

/* --// override to force 1/8th width grids -- */
.yui-gf .yui-u{width:80.2%;}
.yui-gf div.first{width:12.3%;}


