@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500;700&family=Signika+Negative:wght@500&display=swap');

.menu-form-inscritos{
    margin-top: 25px;
}

.tarjeta-laboral{
    height: max-content;
    border-radius: 25px ;
}

.contenedor-lab{
   margin: 10px auto;
}

.tarLab-header{
    
 background-color:#f7971e;
   font-size: xx-large;
  color: #fff;
  font-weight: 900;
}
.tarLab-titulo{
   
    font-family: 'Oswald', sans-serif;
font-family: 'Signika Negative', sans-serif;
    font-weight: 700;
    font-size: larger;
}

.tarLab-text{
    font-family: 'Oswald', sans-serif;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 200;
    font-size: larger;
    justify-content: justify;
    font-size: 1em;
}

.btn-lab{
    margin-bottom: 10px;
    width: 30%;
}

.card-header{ font-size: 1.3em!important;

    color: black;


background-color:#d9d9d95a 

}




.card-text{
    justify-content: justify;
} 

li{
list-style: none!important

}