

.btn_form{

background-color: #ED7E19;
width: 250px;

}
.form_body{

background-color:#ED7E19;

}

.btn_submit{
background-color:#F8D02F;

}

.input-text{
    color: black
}

.btn_cerrar{background-color: #D9D9D9 !important;}

.font_Color{

    color:black
}

.titulo_form{
    
        margin-top: 10px;
    }
    