#navv{
margin-top:5 px;
padding-top: 0;
padding-bottom: 0;
}

#lista{
  margin-left: 750px;
}

.btn-1{
  margin-left: 15px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color:  #f1bc54;
} 

.card-menu{
  background-color: #f1bc54;
  color: black;
}

#page{
margin-top: 200px;

}

.card-header-2{
  background-color:#5ab0df;
  color: black;
}

.btn-2{
  background-color: #5ab0df;
  color: black;
}

.main{
  margin-top: 100px;
  background-color: #f1bc54;
  color: black;
}

.nota{
  color: black;
}

.icon{
  color: rgb(42, 37, 148);
  align-items: center;
  

}

.container-icon{
  border-radius: 100%;
  background-color: rgb(163, 244, 244);
  height: 200px;
  width: 200px;
  align-content: center;

}