/*#navbarSupportedContent{
justify-content: end !important;
background-color: blueviolet;
}*/
/*#navi{
    justify-content: end;
    align-items: flex-end;
}*/
body{
    background-image:url(/assets/img/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.cartas{
   max-height:min-content;
   min-height: min-content;
}

.encabezado{
    background-color: rgb(253, 253, 253);
    border-radius: 50px;
    width: 600px;
    margin-left: 250px;
    margin-bottom: 30px;
 
}
.titulo-1{
    font-size: 46px
}