*{
  margin: 0;
  padding: 0;
  
}

body{
  background: #c0c0aa;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1cefff, #c0c0aa);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1cefff, #c0c0aa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  


}

.header{
 
  background-position: center;
  width: 100%;
  height: 80vh;
  background:url("/assets/img/hderreclutamiento.jpeg");
  background-size: cover;
 
}
.containerheader{
  position: absolute;
  width: 100%;
  bottom: 0;
}

.tarjeta2{
  border-radius: 80px;
  -webkit-box-shadow: 15px 40px 22px 12px rgba(0,0,0,0.5);
-moz-box-shadow: 15px 40px 22px 12px rgba(0,0,0,0.5);
box-shadow: 15px 40px 22px 12px rgba(0,0,0,0.5);
}

.dos{
  margin-bottom: 30px;
}
#lista{
  margin-left: 750px;
}

.btn-1{
  margin-left: 15px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color:  #f1bc54;
} 

.card-menu{
  background-color: #f1bd54;
  color: black;
  -webkit-box-shadow: 15px 10px 21px 11px rgba(0,0,0,0.5);
-moz-box-shadow: 15px 10px 21px 11px rgba(0,0,0,0.5);
box-shadow: 15px 10px 21px 11px rgba(0,0,0,0.5);
}

#page{
margin-top: 0px;

}

.card-header-2{
  background-color:#f9ffa6;
  color: black;
  border-radius: 25px;

}

.btn-2{
  background-color: #5ab0df;
  color: black;
}

.curva{
  position: absolute;
  width: 100%;
  top: 0;
}

.main{
  margin-top: 100px;
  background-color: #f1bc54;
  color: rgb(2, 0, 0);
  -webkit-box-shadow: -10px 12px 83px -20px rgba(0,0,0,0.56);
-moz-box-shadow: -10px 12px 83px -20px rgba(0,0,0,0.56);
box-shadow: -10px 12px 83px -20px rgba(0,0,0,0.56);
}

.nota{
  color: black;
}

#icon-section{
  height: 80vh;
  width: 100%;
  margin-top: 85px;
  
  
}

.icon{
  color: rgb(255, 255, 255);

}